

/node_modules
/dist
/coverage
/logs
/mongo
/postgres


*.zip
*.log
*.tar.gz
*.tgz
*.map
*.tsbuildinfo
*.js.map
*.js.LICENSE
*.js.LICENSE.*
*.js.gz


.env
.env.local
.env.development.local
.env.test.local
.env.production.local